<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en">
    
    <head>
		<meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>noomerZx</title>
		
		<!-- for Google -->
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<meta name="author" content="" />
		<meta name="copyright" content="" />
		<meta name="application-name" content="" />

		<!-- for Facebook -->          
		<meta property="og:title" content="noomerZx Blog" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="http://spartan-rhino-839.appspot.com/static/imgs/logo_head.png" />
		<meta property="og:url" content="http://spartan-rhino-839.appspot.com/static/imgs/logo_head.png" />
		<meta property="og:description" content="Blog แหล่มๆสำหรับคนวัยมันส์" />

		<!-- for Twitter -->          
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="noomerZx Blog" />
		<meta name="twitter:description" content="Blog แหล่มๆสำหรับคนวัยมันส์" />
		<meta name="twitter:image" content="static/imgs/logo_head.png" />
		
		<!-- for Style Sheet -->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="static/css/component.css"/>
		<link rel="stylesheet" type="text/css" href="static/css/animate.css"/>
		<link rel="stylesheet" type="text/css" href="static/css/loader.css"> 
		<style>
			.md-tabs-content{
				cursor:default;
			}
			.content{
				min-height:975px;
				margin-top:50px;
				cursor:default;
			}
			.blogBox{
				width:inherit;
				height:250px;
				margin:25px 15px;
				border:1px solid #ddd;
				box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
			}
			.blogBox:hover{
				background:-webkit-linear-gradient(top,#fdfdfd 0,#fcfcfc 10%,#f6f6f6 60%,#f0f0f0 80%,#ededed 90%);
				opacity:0.9;
			}
			.blogLeft,.blogRight{
				position:relative;
				float:left;
				height:inherit;
				cursor:pointer;
			}
			.blogLeft{
				width:35%;
				padding:10px;
			}
			.blogRight{
				width:65%;
				padding:10px 15px;
			}
			.blogRowImg{
				width:100%;
				height:100%;
				object-fit:cover;
			}
			.blogContentDetail{
				width:100%;
				height:inherit;
				overflow:hidden;
				text-overflow:ellipsis;
			}
			@media screen and (max-width:600px){
				.blogBox{
					height:150px;
				}
				.blogRight{
					width:55%;
					padding:10px 15px;
				}
				.blogLeft{
					width:45%;
				}
				.blogContentDetail{
					height:80px;
					margin-top:5px;
					line-height:20px;
				}
			}
		</style>
	</head>
    
    <body class="off" ng-app="app">
	    <div class="mobileHeader">
		    <div layout="row" class="container">
			    <a class="linkMenu" href="/" flex>
			        <h1 class="menu"><i class="fa fa-home"></i></h1>
				</a>
				<h1 class="menu menuMobileActive" flex><i class="fa fa-pencil"></i></h1>
				<h1 class="menu" flex><i class="fa fa-archive"></i></h1>
				<h1 class="menu" flex><i class="fa fa-street-view"></i></h1>
			</div>
		</div>
	    <header>
			<div layout="row" class="fadein scale anim_1">
				<div id="trigger" class="imgLogoBox">
					<img class="imgLogo" src="static/imgs/logo_head.png" alt="Washed Out">
				</div>
			</div>
			<div layout="row">
				<h1 flex class="headerQuote fadein scale anim_2">
					"Knowledges is Everywhere..."
				</h1>
			</div>
			<div class="mainMenu" layout="row">
				<div flex class="fadein scaleInv anim_3">
					<a href="/">
					<md-card class="">
					  <md-card-content>
						  <h1><i class="fa fa-home"></i></h1>
						  <h1 class="textMenu">Home</h1>
					  </md-card-content>
					</md-card>
					</a>
				</div>
				<div flex class="fadein scaleInv anim_4">
					<md-card class="menuActive">
					  <md-card-content>
						  <h1><i class="fa fa-pencil"></i></h1>
						  <h1 class="textMenu">Blog</h1>
					  </md-card-content>
					</md-card>
				</div>
				<div flex class="fadein scaleInv anim_5">
					<md-card class="">
					  <md-card-content>
						  <h1><i class="fa fa-archive"></i></h1>
						  <h1 class="textMenu">Works</h1>
					  </md-card-content>
					</md-card>
				</div>
				<div flex class="fadein scaleInv anim_6">
					<md-card class="">
					  <md-card-content>
						  <h1><i class="fa fa-street-view"></i></h1>
						  <h1 class="textMenu">I am...</h1>
					  </md-card-content>
					</md-card>
				</div>
			</div>
			<div class="clearfix"></div>
		</header>
		<section class="container" ng-controller="blogCtrl" ng-init="init()">
			<section class="bodyContent fadein scale anim_1">
				<div layout="row">
					<md-card class="content" flex>
						<md-tabs md-selected="selectedIndex" flex>
							<md-tab ng-repeat="blog in blogs | groupBy: 'Type'"
									ng-disabled="tab.disabled"
									label="{[{getTitle($index)}]}">
									<div class="blogBox" ng-repeat="detail in blog">
										<div class="blogLeft">
											<img class="blogRowImg" src="{[{detail.Img}]}">
										</div>
										<div class="blogRight">
											<div layout="column">
												<div flex="20">
													<h1>{[{detail.Name}]}</h1>
												</div>
												<div flex="80">
													<p class="blogContentDetail">{[{detail.Content}]}</p>
												</div>
											</div>
										</div>
									</div>
							</md-tab>
						</md-tabs>
					</md-card>
				</div>
			</section>
		</section>
		<footer>
			<div layout="row">
				<div class="container footerContent" flex>
					<div layout="row">
						<div flex>
							<a href="https://www.facebook.com/noomerZx" target="_blank"><div class="footerSocial"><i class="fa fa-facebook"></i></div></a>
						</div>
						<div flex>
							<a href="https://instagram.com/noomerzx/" target="_blank"><div class="footerSocial"><i class="fa fa-instagram"></i></div></a>
						</div>
						<div flex>
							<a href="https://twitter.com/noomerZx" target="_blank"><div class="footerSocial"><i class="fa fa-twitter"></i></div></a>
						</div>
					</div>
				</div>
			</div>
			<div layout="row">
				<div class="footerSignature">2015 All right reserved © by noomerZx</div>
			</div>
		</footer>
		
		<!-- for Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script>
        <script src="static/scripts/loader.min.js"></script>
		<script src="static/scripts/app.js"></script>
		<script src="static/scripts/blogController.js"></script>
		<script>

			var $body = $('body');

	        $(window).load(function() {

	            $body.toggleClass('on off');

	            $('#trigger').click(function() {

	                $body.toggleClass('on off');

	                setTimeout(function() {

	                    $body.toggleClass('on off');

	                }, 2500)

	            });
				
				$(window).scroll(function () {
					if($(this).scrollTop() > 450)
					{
						if (!$('.mobileHeader').hasClass('headerActive'))
						{
							$('.mobileHeader').stop().addClass('headerActive').css('top', '-50px').animate(
								{
									'top': '0px'
								}, 500);
						}
					}
					else
					{
						$('.mobileHeader').removeClass('headerActive');
					}
                });

	        });

        </script>
    </body>
</html>