				<div layout="row">
					<h1 class="head">
						บทความ
					</h1>
				</div>
				<div class="blogList" layout="row" layout-wrap>
					<div flex="100" flex-gt-md="50">
						<md-card>
						  <img class="imgCover imgCoverForRecent" src="imgs/cover.jpg" alt="Washed Out">
						  <md-card-content class="recentBlog">
							  <h1>Title</h1>
							  <p class="cardDesc">
								The titles of Washed Out's breakthrough song and the first 
								single from Paracosm share the two most important words in Ernest Greene's 
								musical language: feel it. It's a simple request, as well...
							  </p>
						  </md-card-content>
						</md-card>
					</div>
					<div ng-repeat="item in blogList" flex="50" flex-gt-md="25">
						<md-card>
						  <img class="imgCover imgCoverFor4" src="{{item.Img}}" alt="Washed Out">
						  <md-card-content>
							<h1>{{item.Name}}</h1>
							<p class="cardDesc">
								{{item.Content}}
							</p>
						  </md-card-content>
						</md-card>
					</div>
				</div>
				<div layout="row">
					<h1 class="head">
						ผลงาน
					</h1>
				</div>
				<div class="workList" layout="row" layout-wrap>
					<div ng-repeat="item in portfolios" flex="100" flex-gt-md="33">
						<md-card>
						  <img class="imgCover imgCoverFor3" src="{{item.Img}}" alt="Washed Out">
						  <md-card-content>
							<h1>{{item.Name}}</h1>
							<p class="cardDesc">
							  {{item.Content}}
							</p>
						  </md-card-content>
						</md-card>
					</div>
				</div>